@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

html, body {
    font-family: 'Montserrat', sans-serif;
}

.mt-page {
    margin-top: 5rem;
}

select {
    border: 0;
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    min-width: 15rem;
}